@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --button-color: #DB4444;
    --button-color-2: #00FF66;
    --text-defult: #000000;
    --text-color-2: #7D8184;
    --bg-color: #F5F5F5;
}

body{
    width: 100%;
    height: fit-content;
    background: slategrey;
}

/* _____________Header____________ */

.header{
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #f2f2f2;
}

.header-content{
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 18px 0;
}

.mini-logo{
    display: none;
    color: #DB4444;
    font-size: 42px;
}

.spn-1{
    color: #DB4444;
    font-size: 42px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    color: #fff;
}

.nav-item{
    cursor: pointer;
}

.profile-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-bar{
    width: 250px;
    height: 40px;
    background: var(--bg-color);
    border: none;
    padding: 0 30px 0 16px;
    border-radius: 6px;
}

.srch-icon{
    position: absolute;
    right: 10px;
}

.menu-icon{ 
    display: none;
}

/* __________Hero-Section________ */

.hero{
    width: 100%;
    height: fit-content;
}

.hero-content{
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left-text{
    border-right: 1px solid #f2f2f2;
    padding: 34px 34px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-img{
    flex-basis: 80%;
    padding-top: 34px;
}

.img-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding-left: 62px;
}

.left-text-2{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logo-left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-left-text{
    color: var(--text-color-2);
}

.up-to{
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.shop-now{
    display: flex;
    align-items: center;
    gap: 22px;
}

.shop{
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}

/* ______________Section-2-tody's___________ */

.sec-2-today{
    width: 100%;
    height: fit-content;
}

.sec-2-content{
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
}

.sec-2-title{
    font-size: 16px;
    color: var(--button-color);
    letter-spacing: 0.05rem;
    border-left: 20px solid var(--button-color);
    padding: 5px 0 5px 20px;
    border-radius: 8px;
}

.Flash-sale{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clock-div{
    flex-basis: 70%;
    display: flex;
    align-items: start;
}

.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* __________foot-content_________ */

.foot{
    width: 100%;
    height: fit-content;
    background: #000;
    margin-top: 500px;

}

.foot-content{
    width: 80%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}









@media screen and (max-width: 576px) {
    
    /* _______Header-responsive_______ */
    
    .mini-logo{
        display: block;
    }

    .logo{
        display: none;
    }

    .nav-bar{
        display: none;
    }

    .search{
        display: none;
    }

    .menu-icon{
        display: block;
        width: 34px;
    }

    .header-content{
        width: 90%;
        height: fit-content;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0 8px 0;
    }

    /* __________Hero-Section-Responsive_________ */

    .hero-content{
        width: 90%;
    }

    .left-text{
        display: none;
    }

    .img-content{
        padding-left: 0px;
        flex-direction: column-reverse;
        padding: 40px 0;
        align-items: start;
    }

    .left-text-2{
        padding-left: 10%;
    }

    .iPhone-14{
        width: 90vw;
    }

    .logo-left-text{
        color: var(--text-color-2);
        font-size: 18px;
    }
}